# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js and build outputs
.next/
out/
build/
dist/

# logs and system files
*.log
.DS_Store
Thumbs.db
*.pem

# environments
.env*
!.env.example

# IDEs
.vscode/
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts
